.msj__main {
    padding: 18px;
    border-top: 1.8px solid $gray;
    border-bottom: 1.2px solid $gray;
    cursor: pointer;
    .date,.contenido {
        display: flex;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
    }
    .attach {
        cursor: pointer;
        color: $grayy;
        font-size: 18px!important;
    }
}